<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.dp.notification_badge_plus">
  
  <!-- Permissions for Samsung devices -->
  <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
  <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />
  
  <!-- Permissions for HTC devices -->
  <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />
  
  <!-- Permissions for Sony devices -->
  <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
  <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />
  
  <!-- Permissions for Apex launcher -->
  <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />
  
  <!-- Permissions for Solid launcher -->
  <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />
  
  <!-- Permissions for Huawei EMUI -->
  <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
  <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />
  
  <!-- Permissions for ZUK launcher -->
  <uses-permission android:name="android.permission.READ_APP_BADGE" />
  
  <!-- Permissions for OPPO launcher -->
  <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
  <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
  
  <!-- Permissions for EvMe launcher -->
  <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ" />
  <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE" />

</manifest>